<!DOCTYPE html>
<html>
  <head><!-- Declares start of head -->
    <meta charset="utf-8"><!-- Sets characterset to UTF-* -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"><!-- -->
    <title></title><!--Not set -->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet"><!--Calls on stylesheet for css and set reference path-->
    <script src="lib/ionic/js/ionic.bundle.js"></script><!--Sets script source to  path "" -->
    <script src="cordova.js"></script><!--Calls upon cordova.js script -->
     <!-- sets type to javascript,calls angualr.module,calls controller function scope,sets scope.count to 0 -->
	<script type="text/javascript"> 
      angular.module('counter', ['ionic'])

      .controller("CountCtrl", function($scope) {
        $scope.count = 0;
      });
    </script><!-- ends  script -->

  </head><!-- ends head -->
  <body ng-app="counter" ng-controller="CountCtrl"><!-- opens body calls ng-app,calls ng-contoller -->

    <ion-pane><!--Opens ionic pane  -->
      <ion-header-bar class="bar-stable"><!-- declares header bar and style  -->
        <h1 class="title">Calorie Counter</h1><!--Opens and declares header -->
     </ion-header-bar><!-- closes header bar -->
      <ion-content><!-- opens ionic content -->
        <div class="list list-inset"><!--starts divider declared as class list -->
          <label class="item item-input"><!--opens label class item -->
            <input type="number" ng-model="count" /><!-- Sets input method to ng-moder type numbers -->
          </label><!--closes label -->
 
        <ul class="list"><!-- -->
    <li class="item"><!--Starts list type item -->
  <h1 class="title">Enter Calories<br> Manually</h1><!--sets header with title -->
 <div class="list "><!--opens divider -->

         <button class="button  button-positive" ng-click="count = count + 1"><!-- creates button with class type and sets button click -->
        Count  +1<!-- Sets what is displayed on the button -->
          </button><!--closes button parameters -->
       <!--Same for all the buttons below  -->

          <button class="button button-positive" ng-click="count =count +5 ">
            5+
          </button>
        <button class="button button-positive" ng-click="count =count + 10 ">
           +10
          </button>

	<div class="list ">

	 <button class="button  button-positive" ng-click="count =count + 50 ">
           +50
          </button>
	<button class="button  button-positive" ng-click="count =count + 100 ">
         +100 
          </button>
	</div>
	<div class="list ">

	 <button class="button  button-positive" ng-click="count = count - 1">
          Count -1
          </button>

	 <button class="button button-positive" ng-click="count =count -5 ">
            -5
          </button>
        <button class="button button-positive" ng-click="count =count - 10 ">
          -10
          </button>

	 <div class="list">
         <button class="button  button-positive" ng-click="count =count - 50 ">
           -50
          </button>
        <button class="button  button-positive" ng-click="count =count - 100 ">
         -100
          </button>
	</div>
    </li>
     </ul>


	<ul class="list">
    <li class="item">
  <h1 class="title">Meats</h1>
<div class="list ">
<button class="button button-bock button-assertive" ng-click="count =count +250 ">
            Beef Meat 100g
          </button>

	<button class="button button-bock button-assertive" ng-click="count =count +145 ">
          Pork 100g
          </button>
	</div>
	 <div class="list ">
	<button class="button button-bock button-assertive" ng-click="count =count +206 ">
          Rabbit 100g
          </button>
	<button class="button button-bock button-assertive" ng-click="count =count +294 ">
         Lamb 100g
          </button>
	</div>
    </li>
     </ul>
    

        <ul class="list" >
    <li class="item">
  <h1 class="title"  >Poultry</h1>
<div class="list ">
<button class="button button-bock button-royal" ng-click="count =count +219 ">
            Chicken 100g
          </button>

        <button class="button button-bock button-royal" ng-click="count =count +337 ">
          Duck 100g
          </button>
	</div>
	<div class="list ">

        <button class="button button-bock button-royal" ng-click="count =count +186 ">
          Turkey 100g
          </button>
        <button class="button button-bock button-royal" ng-click="count =count +161 ">
         Goose 100g
          </button>
	</div>
    </li>
     </ul>
     
<li class="item">
  <h1 class="title">Veg</h1>
<button class="button button-bock button-balanced" ng-click="count =count +41 ">
           Carrots 100g
          </button>

        <button class="button button-bock button-balanced" ng-click="count =count +34 ">
          Brocolly 100g
          </button>
	 <div class="list ">
        <button class="button button-bock button-balanced" ng-click="count =count +18 ">
          Tomatoes 100g
          </button>
        <button class="button button-bock button-balanced" ng-click="count =count +28 ">
         Cauliflower 100g
          </button>
	    <div class="list ">

	<button class="button button-bock button-balanced" ng-click="count =count +25 ">
          Cabbage 100g
          </button>
        <button class="button button-bock button-balanced" ng-click="count =count +17 ">
          Courgette 100g
          </button>
	  <div class="list ">
        <button class="button button-bock button-balanced" ng-click="count =count +61 ">
         Leek 100g
          </button>
	 <button class="button button-bock button-balanced" ng-click="count =count +20 ">
        Peppers 100g
          </button>

	</div>
    </li>
     </ul>
      

   
    <li class="item">
  <h1 class="title">Sides</h1>

          <button class="button button-light" ng-click="count =count +77 ">
            Potatoes 100g
          </button>
        <button class="button  button-light" ng-click="count =count +289 ">
            Bread 100g
          </button>
	  <div class="list ">
         <button class="button button-light" ng-click="count =count + 111">
            Rice 100g
          </button>
        <button class="button  button-light" ng-click="count =count + 371 " >
           Pasta 100g
          </button>
  </li>
     </ul>
</div>
 <label class="item item-input">
            <input type="number" ng-model="count" /><!--Displays current count value  --> 
          </label>
        

	<button class="button button-block button-energized" ng-click="count = count - count2" >
           Undo
          </button>

  <button class="button button-block button-assertive" ng-click="count =0 "><!--Resets count in labels -->
            Reset
          </button>
	 </div>
      </ion-content>
    </ion-pane>

  </body>
</html>

